.Card-Login {
  height: 50vh !important;
  width: 430px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: black;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: rgb(174, 174, 174) solid 1px;
  font-size: 15px;
}

.CreateBtn {
  border: none;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  background-color: #2563eb;
  color: #ffffff;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 17px;
}

.CreateBtn:hover {
  background-color: #235cd8;
}

.CreateBtn:disabled {
  background: #94a3b8 !important;
  cursor: not-allowed !important;
  opacity: 0.7 !important;
}

.login-link {
  color: #2563eb;
  text-decoration: none;
  font-weight: 600;
}

.login-link:hover {
  text-decoration: underline;
  color: #1d4ed8 !important;
}

.backBtn:hover{
    text-decoration:underline black !important;
}

